@import '../../../ui/scss/variables';
@import '../../../ui/scss/mixins';

.project__name {
  margin-bottom: 10px;

  h1 {
    margin-bottom: 0;
  }
}

.project__links {
  flex-shrink: 0;
  padding-left: 20px;

  ul {
    display: inline-flex;
    margin-right: 20px;
  }
}

.project__description {
  font-size: 0.9rem;
  line-height: 1.2rem;
  @include truncate(2, 1.2rem);
}

.project__editmode {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.quicklink__item {
  margin-left: 10px;

  &.disabled {
    opacity: 0.5;

    .mat-icon {
      filter: grayscale(1);
    }
  }

  .mat-icon {
    width: 40px;
    height: 40px;

    border-radius: 5px;
    display: block;
    border: 1px solid $color-blue;
    padding: 5px;
  }
}
