@import '../../../ui/scss/variables';
@import '../../../ui/scss/components/_page.scss';

.page__content {
  &.empty-quickstarters {
    .page__action {
      position: sticky;
      bottom: 0;
      background: $color-white;
    }
  }
}

.page__action {
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
