<table
  class="qs-table"
  [formGroup]="form"
  *ngIf="projectQuickstarters; else emptyContent"
>
  <thead>
    <tr>
      <th>Quickstarter</th>
      <th>IDs</th>
    </tr>
  </thead>
  <tbody>
    <tr
      formArrayName="newComponent"
      *ngFor="let control of newComponentArray.controls; let i = index"
    >
      <ng-container formGroupName="{{ i }}">
        <td>
          <div class="qs-id">
            {{ getQuickstarterData(i).description }}
          </div>
        </td>
        <td class="qs-components">
          <ng-container *ngIf="editMode">
            <ng-container
              *ngIf="
                getQuickstarterData(i).isNewComponentPossible;
                else newComponentImpossible
              "
            >
              <mat-form-field class="formfield__input">
                <mat-label>New component ID</mat-label>
                <input
                  matInput
                  placeholder="Component ID for additional quickstarter"
                  name="componentName"
                  formControlName="componentName"
                  removeWhitespaces
                />
              </mat-form-field>
              <mat-error
                class="formfield__error"
                *ngIf="controlHasErrorByType(i, 'componentName', 'pattern')"
              >
                <ul>
                  <li
                    *ngFor="
                      let message of componentNameCustomValidation.errorMessages
                    "
                  >
                    {{ message }}
                  </li>
                </ul>
              </mat-error>
              <mat-error
                class="formfield__error"
                *ngIf="
                  controlHasErrorByType(
                    i,
                    'componentName',
                    'nameExistsInAllQuickstarters'
                  );
                  else nextValidationError
                "
              >
                This ID is reserved for a quickstarter
              </mat-error>
              <ng-template #nextValidationError>
                <mat-error
                  class="formfield__error"
                  *ngIf="
                    controlHasErrorByType(
                      i,
                      'componentName',
                      'nameExistsInProjectQuickstarterComponents'
                    ) ||
                    controlHasErrorByType(
                      i,
                      'componentName',
                      'nameExistsInNewProjectQuickstarterComponents'
                    )
                  "
                >
                  This ID is already used in another component
                </mat-error>
              </ng-template>
            </ng-container>
            <ng-template #newComponentImpossible>
              <div class="qs-component__info">
                <mat-icon
                  svgIcon="alert"
                  aria-hidden="false"
                  aria-label="Form error"
                ></mat-icon>
                This quickstarter might have been renamed or deleted.
              </div>
            </ng-template>
          </ng-container>

          <mat-accordion [displayMode]="'flat'" [togglePosition]="'before'">
            <mat-expansion-panel
              *ngFor="let id of getQuickstarterData(i).ids"
              class="mat-elevation-z0"
            >
              <mat-expansion-panel-header
                [collapsedHeight]="'*'"
                [expandedHeight]="'*'"
              >
                <mat-panel-title>
                  {{ id.componentId }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="qs-component__data">
                <dl>
                  <dt>ODS Image Tag</dt>
                  <dd>
                    {{ id.odsImageTag || '-' }}
                  </dd>
                </dl>
                <dl>
                  <dt>Package Name</dt>
                  <dd matTooltip="{{ id.packageName }}">
                    {{ id.packageName || '-' }}
                  </dd>
                </dl>
                <dl>
                  <dt>OSD Git Ref</dt>
                  <dd>
                    {{ id.odsGitRef || '-' }}
                  </dd>
                </dl>
                <dl>
                  <dt>Group ID</dt>
                  <dd>{{ id.groupId || '-' }}</dd>
                </dl>
                <dl>
                  <dt>GIT HTTP</dt>
                  <dd matTooltip="{{ id.gitUrlHttp }}">
                    <ng-container *ngIf="id.gitUrlHttp; else empty">
                      <a href="{{ id.gitUrlHttp }}" target="_blank">{{
                        id.gitUrlHttp
                      }}</a>
                    </ng-container>
                  </dd>
                </dl>
                <dl>
                  <dt>GIT SSH</dt>
                  <dd matTooltip="{{ id.gitUrlSsh }}">
                    <ng-container *ngIf="id.gitUrlHttp; else empty">
                      <a href="{{ id.gitUrlSsh }}" target="_blank">{{
                        id.gitUrlSsh
                      }}</a>
                    </ng-container>
                  </dd>
                  <ng-template #empty>-</ng-template>
                </dl>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<ng-template #emptyContent>
  <div class="empty-content">
    <div class="errorbox">
      <div class="errorbox__img">
        <img
          src="assets/icons/quickstarter-not-found.svg"
          alt="No quickstarters applied yet"
        />
      </div>
      <div class="errorbox__headline">No quickstarters applied yet</div>
      <div class="errorbox__subline">
        Add new components to your project
      </div>
      <button
        mat-stroked-button
        color="primary"
        class="mini-icon-button mat-elevation-z0"
        (click)="emitActivateEditMode()"
        data-test-edit-project-btn
      >
        <mat-icon
          svgIcon="plus"
          aria-hidden="false"
          [attr.aria-label]="'Add'"
        ></mat-icon>
        <span>Add</span>
      </button>
    </div>
  </div>
</ng-template>
