:host {
  display: block;
  padding: 0 50px 30px 50px;
  height: 100%;
}

.empty-quickstarters {
  :host {
    display: initial;
    padding: 0;
  }
}

.qs-id {
  padding: 13px 0;
  font-size: 1rem;
}
