### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode

/src/docker/target/
/provision*.log
/provision.log.*
bin

*.env
gradle.properties
/.gradle/
/docker/app*.jar*
/src/main/resources/__application.properties
/src/main/resources/application-oauth2private.properties
/src/main/resources/application-testods.properties

/src/main/resources/history-local/
