<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- home of the logs -->
	<property name="PROV_HIST_HOME" value="/opt/provision/history/logs" />

	<!-- custom file appender -->"
	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">

		<!--  mdc overwrite hook, changed thru the codebase, to create a new file per project -->
		<discriminator>
			<key>loggerFileName</key>
			<defaultValue>Project</defaultValue>
		</discriminator>

		<sift>
		  <appender name="FILE-${logFileName}"
			class="ch.qos.logback.core.FileAppender">
			<file>${PROV_HIST_HOME}/${loggerFileName}.log</file>

			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %level %logger{35} - %msg%n
				</Pattern>
			</encoder>
		  </appender>

		</sift>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- debug for provision -->
	<logger name="org.opendevstack.provision" level="debug"
		additivity="true">
		<appender-ref ref="FILE-THREAD" />
	</logger>

	<!-- root config -->
	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>