.page {

  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-areas:
      'page-notifications'
      'page-main-content';
    grid-template-rows: min-content auto;
    height: 100%;

    form {
      display: contents;
    }
  }

  .box {
    background: var(--box-background-color);
    box-shadow: 0 0 5px var(--box-shadow-color);
    border-radius: 5px;

    @include media-breakpoint-up(lg) {
      grid-area: page-main-content;
      overflow-y: auto;
      display: grid;
      grid-template-areas: 'page-header' 'page-content' 'page-footer';
      grid-template-rows: auto 1fr auto;
      height: 100%;
    }
  }
}

.page__notifications {
  color: var(--warn-color);
  font-size: 0.85rem;
  line-height: 47px;

  @include media-breakpoint-up(lg) {
    grid-area: page-notifications;
    height: 47px;
  }
}

.page__header {
  padding: 30px;
  border-bottom: 1px solid var(--primary-lighter-color);

  @include media-breakpoint-up(lg) {
    grid-area: page-header;
  }
}

.page__content {
  @include media-breakpoint-up(lg) {
    grid-area: page-content;
    overflow-y: auto;
  }
}

.page__footer {
  padding: 30px;
  border-top: 1px solid var(--primary-lighter-color);

  @include media-breakpoint-up(lg) {
    grid-area: page-footer;
  }
}
