<div class="header-wrapper">
  <div class="container">
    <header>
      <div class="logo">
        <h1>ODS Provisioning</h1>
      </div>
      <div class="user-area" [hidden]="router.url.indexOf('/logout') !== -1">
        <div class="user-area__logout">
          <a
            mat-mini-fab
            class="logout-btn"
            title="Logout"
            [routerLink]="'logout'"
            data-test-logout-btn>
            <mat-icon svgIcon="power" aria-hidden="false" aria-label="'Logout'"></mat-icon>
          </a>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="main-wrapper">

  <ng-container *ngIf="isLoading; else finishedLoading">
    <div class="container without-sidebar">
      <div class="content">
        <app-loading-indicator></app-loading-indicator>
      </div>
    </div>
  </ng-container>

  <ng-template #finishedLoading>

    <ng-container *ngIf="!isError; else globalError">
      <div class="container">

        <div class="sidebar">
          <app-sidebar
            [projects]="projects"
            [isNewProjectFormActive]="isNewProjectFormActive"
          ></app-sidebar>
        </div>

        <div class="content">
          <router-outlet (activate)="getEditModeStatus()"></router-outlet>
        </div>

      </div>
    </ng-container>

    <ng-template #globalError>
      <div class="container without-sidebar">
        <div class="content">
          <app-general-error-page></app-general-error-page>
        </div>
      </div>
    </ng-template>

  </ng-template>

</div>

<div class="footer-wrapper">
  <div class="container">
    <footer>
      © 2020 <a href="https://opendevstack.org" target="_blank">opendevstack.org</a>
      <div class="trademark">Atlassian Jira, Confluence and Bitbucket logos are registered logomarks of Atlassian. Redhat OpenShift logo is a registered logomark of Red Hat, Inc.</div>
    </footer>
  </div>
</div>





