table {
  width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  li {
    list-style-type: none;
  }
}

hr {
  border-top: 1px solid $color-gray;
  margin: 10px 0 20px 0;
}

mat-card {
  padding: 0 !important; // TODO find a better way to manipulate mat ui styles
}
