.row-form {
  @include make-row();
  padding-bottom: 10px;
}

.formfield__input {
  width: 100%;
}

.formfield__error {
  font-size: 0.85rem;
  padding-bottom: 20px;
  color: red;

  ul {
    padding-left: 20px;

    li {
      list-style: initial;
    }
  }
}

.formfield-wrapper {
  display: flex;
  align-items: center;

  > mat-icon {
    margin-left: 20px;
  }
}

.formfield__tooltip {
  font-size: 0.85rem;
}
