body {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background: $color-white;
}

header,
footer {
  padding: 15px 35px;
}

header {
  grid-area: header;
  background: $color-gradient-start;
  background: linear-gradient(
    90deg,
    $color-gradient-start 0%,
    $color-gradient-end 100%
  );

  h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;

    a {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $color-white;
      }
    }
  }
}

/* TODO fixme */
.mat-list-item-content {
  padding: 10px !important;
}

.main {
  grid-area: main;
  height: calc(100vh - #{$header-footer-offset});
  background: $color-white-light;
  padding: $main-container-padding;
}

app-root {
  @include make-row();

  .sidebar {
    height: calc(
      100vh - #{$header-footer-offset} - (#{$main-container-padding} * 2)
    );
    overflow-y: hidden;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  .content {
    height: calc(100vh - #{$header-footer-offset});
    overflow-y: auto;
    position: sticky;
    padding: 0 $space;

    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
  }
}

footer {
  grid-area: footer;
}
