body {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background: rgb(221, 224, 227); /* $midGrey from bix ukit TODO put to theme */
}

header,
footer {
  padding: $space;
}

header {
  grid-area: header;
  height: $header-height;
}

app-root {
  grid-area: main;
  margin-top: $space;

  @include make-row();

  .searchbar {
    height: $search-bar-height;
  }

  .sidebar {
    height: calc(100vh - #{$header-height} - #{$footer-height});
    overflow-y: auto;
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  .nav {
    height: calc(100% - #{$search-bar-height});
    overflow-y: auto;
    position: sticky;

    /* TODO move to separate component scss file later */
    .project-key {
      position: absolute;
      right: 20px;
    }
  }

  .content {
    height: calc(100vh - #{$header-height} - #{$footer-height});
    overflow-y: auto;
    position: sticky;
    padding: 0 $space;

    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(8);
    }
  }
}

footer {
  grid-area: footer;
}
