$space: 20px;

$color-black: #333333;
$color-black-light: #888888;
$color-white: #ffffff;
$color-white-light: #f8f8f8;
$color-blue-light: #eef3f5;
$color-blue: #2169a4;
$color-gradient-start: #204989;
$color-gradient-end: #2169a4;

/* temporarily copied from angular material */
$color-gray-light: rgba(0, 0, 0, 0.04);
$color-gray: rgba(0, 0, 0, 0.1);
