@import '~@angular/material/theming';
@import 'theme/default';

@import 'mixins';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/utilities';

@import 'base';
@import 'layout';
@import 'forms';
@import 'editmode';

@import 'components/quickstarter-table';
@import 'components/buttons';
@import 'components/empty-content';
@import 'components/infobox';
@import 'components/project-key';
@import 'components/page';
@import 'components/dialog';
