<ng-container *ngIf="isLoading">
  <app-loading-indicator></app-loading-indicator>
</ng-container>

<div class="empty-content" data-test-login *ngIf="!isLoading">
  <div class="infobox">
    <div class="infobox__img">
      <img src="assets/icons/quickstarter-not-found.svg" alt="Logged out" />
    </div>
    <div class="infobox__headline">Logout successfully</div>
    <div class="infobox__subline">You might login again</div>
    <a
      mat-stroked-button
      class="mini-icon-button mat-elevation-z0"
      href="/"
      data-test-login-btn>
      <mat-icon svgIcon="login-variant" aria-hidden="false" [attr.aria-label]="'Login'"></mat-icon>
      <span>Login</span>
    </a>
  </div>
</div>
