<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
  
    <div class="container">
   
        <footer>
            <!--Client side script frameworks-->
            <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/lodash/4.17.10/dist/lodash.core.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/react/16.1.0/react.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
            <!-- this is footer -->
            © 2019 <a href="https://opendevstack.org">opendevstack.org</a>
        </footer>
    </div>

</div>
</body>
</html>