<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
  
    <div class="container">
   
        <footer>
            <!--Client side script frameworks-->
            <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
            <!--temporary fix-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <!--end of temporary fix-->
            <script type="text/javascript" src="/webjars/lodash/4.17.4/dist/lodash.core.min.js"></script>
            <script type="text/javascript" src="/webjars/react/15.5.4/react.min.js"></script>
            <script type="text/javascript" src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
            <!-- this is footer -->
            © 2019 <a href="https://opendevstack.org">opendevstack.org</a>
        </footer>
    </div>

</div>
</body>
</html>