<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<!--

-->
<body>
<span th:text="${message}"></span>
<div class="row-mx-8">
  <div class="row">
    <div class="col-xs-8 col-sm-6">Name:</div>
    <div class="col-xs-4 col-sm-6"><span th:text="${project.projectName}"></span></div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-6">Key:</div>
    <div class="col-xs-4 col-sm-6"><span th:text="${project.projectKey}"></span></div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-6">Description:</div>
    <div class="col-xs-4 col-sm-6"><span th:text="${project.description}"></span></div>
  </div>
  <!-- flag some people don't want spaces -->  
  <div class="row" th:if="${project.bugtrackerUrl != null}">
    <div class="col-xs-8 col-sm-6">Bugtracker:</div>
    <div class="col-xs-4 col-sm-6"><a th:href="@{${project.bugtrackerUrl}}" target="_blank"><span th:text="${project.bugtrackerUrl}"></span></a></div>
  </div>
  <!-- flag some people don't want spaces -->  
  <div class="row" th:if="${project.collaborationSpaceUrl != null}">
    <div class="col-xs-8 col-sm-6">Collaboration space:</div>
    <div class="col-xs-4 col-sm-6"><a th:href="@{${project.collaborationSpaceUrl}}" target="_blank"><span th:text="${project.collaborationSpaceUrl}"></span></a></div>
  </div>
  <div class="row" th:if="${project.scmvcsUrl != null}">
    <div class="col-xs-8 col-sm-6">Bitbucket:</div>
    <div class="col-xs-4 col-sm-6"><a th:href="@{${project.scmvcsUrl}}" target="_blank"><span th:text="${project.scmvcsUrl}"></span></a></div>
  </div>
  <!-- jenkins -->
  <div class="row" th:if="${project.platformBuildEngineUrl != null}">
    <div class="col-xs-8 col-sm-6">Build engine:</div>
    <div class="col-xs-4 col-sm-6"><a th:href="@{${project.platformBuildEngineUrl}}" target="_blank"><span th:text="${project.platformBuildEngineUrl}"></span></a></div>
  </div>

  <!-- dev env -->
  <div class="row" th:if="${project.platformDevEnvironmentUrl != null}">
    <div class="col-xs-8 col-sm-6">Platform Dev env:</div>
    <div class="col-xs-4 col-sm-6"><a th:href="@{${project.platformDevEnvironmentUrl}}" target="_blank"><span th:text="${project.platformDevEnvironmentUrl}"></span></a></div>
  </div>

  <!-- test env -->
  <div class="row" th:if="${project.platformTestEnvironmentUrl != null}">
    <div class="col-xs-8 col-sm-6">Platform test env:</div>
    <div class="col-xs-4 col-sm-6"><a th:href="@{${project.platformTestEnvironmentUrl}}" target="_blank"><span th:text="${project.platformTestEnvironmentUrl}"></span></a></div>
  </div>

</div>
</body>
</html>