<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ODS PROJECT PROVISION</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Provision a project</h1>
        
        <div id="res" class="alert"></div>
        <!-- Choose an optin, edit or create -->
        <form id="chooseOption" sec:authorize="hasAuthority(#vars.idmanagerUserGroup) or hasAuthority(#vars.idmanagerAdminGroup)">
            <fieldset class="form-group">
                <legend class="col-form-legend">Choose an option</legend>
                <div class="radio" sec:authorize="hasAuthority(#vars.idmanagerUserGroup) or hasAuthority(#vars.idmanagerAdminGroup)">
                    <label><input type="radio" name="optradio" id="optExistingInitiave" />Modify existing project</label>
                </div>
                <div class="radio" sec:authorize="hasAuthority(#vars.idmanagerAdminGroup)">
                    <label><input type="radio" name="optradio" id="optNewProject" />Create new project</label>
                </div>
            </fieldset>
        </form>

        <div class="alert alert-danger" role="alert" sec:authorize="!(hasAuthority(#vars.idmanagerUserGroup) or hasAuthority(#vars.idmanagerAdminGroup))">
            You are not allowed to create or modify projects!
        </div>
        <!-- form for project edit -->
        <form id="modifyProject" class="hidden"> 
            <fieldset class="form-group">
                <legend class="col-form-legend">Project</legend>
                <div class="form-group">
                    <label for="projects">Select existing project:</label>
                    <select class="form-control" id="projects" name="projectKey">
                        <option value=""></option>
                        <option th:each="jiraProject : ${jiraProjects}" th:value="${jiraProject.value.projectKey}" th:text="${jiraProject.value.projectKey + ' - ' + jiraProject.value.projectName}">Project name</option>
                    </select>
                </div>
                <div class="table-responsive hidden" id="infoProjectTable">
                	<table>
                		<tr>
                			<td>
                    			<label for="description">Description</label>
                    		</td>
                    		<td>
			                    <textarea class="form-control" id="description" name="description" disabled="true"
                              		rows="2" size="40" maxlength="100"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            	Jira / Confluence space created?
                            </td>
                            <td>
                    			<input type="checkbox" name="jiraconfluencespaceInfo" id="jiraconfluencespaceInfo" checked="true" disabled="true"/>
                    		</td>
                    	</tr>
                        <tr>
                            <td>
                            	Openshift Projects created?
                            </td>
                            <td>
                    			<input type="checkbox" th:attr="modifyable=${ocUpgradeAllowed}" name="openshiftProjectInfo" id="openshiftProjectInfo" checked="true" disabled="false"/>
                    		</td>
                    	</tr>
                    </table>
				</div>                
                <div class="table-responsive hidden" id="quickstartTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Current Quickstarters</th> 
                            <th>Component ID</th>
                        </tr>
                        </thead>
                        <tbody id="quickstartRow">
                        <tr>
                            <td>Here is the name of the quickstarters</td>
                            <td>the component id</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </fieldset>
            <fieldset class="form-group quickstartergroup">
                <legend class="col-form-legend">Quickstarter</legend>
                <div class="form-group form-inline entry">
                    <div class="checkbox">
                        <!-- label -->
                        <input type="checkbox" name="quickstart-checked-1"  />
                        <select class="form-control quickstart-chooser" name="quickstart-type-1">
                            <option value=""></option>
                            <option th:each="project : ${quickStarter}" th:value="${project.id}" th:text="${project.description}">Project name</option>
                        </select>
                    </div>

                    <div class="form-group pull-right input-group col-xs-5">
                        <input type="text" class="form-control" th:name="quickstart-comp-id-1" placeholder="Component Id" data-unique-error="The component id already exist"/>
                        <span class="input-group-btn">
                                <button class="btn btn-success btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        <div class="row"></div>
                        <div class="help-block with-errors" name="quickstart-error-1"></div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" id="modifySubmit" class="btn btn-default pull-right disable" th:disabled="true">Start provision</button>
        </form>

        <form id="createProject" class="hidden">
            <fieldset class="form-group">
                <legend class="col-form-legend">Project</legend>
                <div class="form-group">
                    <label for="projectName"  class="control-label">Name</label>
                    <input type="text" class="form-control" data-remote="/api/v2/project/validate" data-remote-error="A project with this name already exists" id="projectName" name="projectName" placeholder="Project name" maxlength="80" required="required"/>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="projectKey" class="control-label">Key</label>
                    <input type="text" pattern="([a-zA-Z][a-zA-Z_0-9]+)" class="form-control text-uppercase" data-remote="/api/v2/project/key/validate" data-remote-error="A key with this name already exists" id="projectKey" name="projectKey" placeholder="Project key" maxlength="10" required="required"/>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Provide a project description"
                              rows="3" maxlength="100"></textarea>
                </div>
                <!-- cutschig project type -->
                <div class="form-group" id="projectTypeDiv">
                    <label for="projectType"  class="control-label">Project Type</label>
                    <select class="form-control projectType-chooser" name="projectType" id="projectType">
                    	<option th:each="pType : ${projectTypes}" th:value="${pType}" th:text="${pType}" />
                    </select>
                </div>                
                <!-- cutschig user and admin group -->
                <div class="form-group" th:if="${specialPermissionSchemeEnabled}" th:classappend="text-info">
                    <div class="form-group">
                        <label for="specialPermissionSet">Create special permissionset</label>
                        <input type="checkbox" name="specialPermissionSet" id="specialPermissionSet"/>
                    </div>
                    <div class="form-group hidden" id="auserdiv">
                        <label for="projectAdminUser"  class="control-label">Admin user</label>
                        <input type="text" class="form-control" name="projectAdminUser" placeholder="Admin user" maxlength="80" id="projectAdminUser"/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group hidden" id="agroupdiv">
                        <label for="projectAdminGroup"  class="control-label">Admin group</label>
                        <input type="text" class="form-control" name="projectAdminGroup" placeholder="Admin Group" maxlength="80" id="projectAdminGroup"/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group hidden" id="ugroupdiv">
                        <label for="projectUserGroup"  class="control-label">User group</label>
                        <input type="text" class="form-control" name="projectUserGroup" placeholder="User Group" maxlength="80" id="projectUserGroup"/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group hidden" id="urgroupdiv">
                        <label for="projectReadonlyGroup"  class="control-label">Readonly user group</label>
                        <input type="text" class="form-control" name="projectReadonlyGroup" placeholder="Readonly user Group" maxlength="80" id="projectReadonlyGroup"/>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <!-- cutschig allow projects without jira and confluence spaces--> 
                <div class="form-group">
                    <label for="bugtrackerSpace">Create JIRA / Confluence spaces</label>
                    <input type="checkbox" name="bugtrackerSpace" id="bugtrackerSpace" checked="true"/>
				</div>                
                <!-- cutschig allow projects without jira and confluence spaces--> 
                <div class="form-group">
                    <label for="platformRuntime">Create Openshift Project</label>
                    <input type="checkbox" name="platformRuntime" id="platformRuntime" checked="true"/>
				</div>                
                <button type="submit" class="btn btn-default pull-right">Start provision</button>
            </fieldset>
        </form>

    </div>
    <!-- Modal -->
    <div id="createModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Project provision</h4>
                </div>
                <div class="modal-body">
                    <div id="resProject" class="alert">Project provision in progress</div>
                    <div id="projectData" class="hide">
                        <div class="row">
                            <div class="col-sm-9">
                                <b>Summary</b>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        Name:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataProjectName"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        Key:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataProjectKey"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        JIRA / confluence space created:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataJiraConfluenceCreated"></div>
                                </div>
                                
                                <div class="row" id="dataJiraUrlDiv">
                                    <div class="col-xs-8 col-sm-6">
                                        JIRA:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataJiraUrl"></div>
                                </div>
                                <div class="row" id="dataConfluenceUrlDiv">
                                    <div class="col-xs-8 col-sm-6">
                                        Confluence:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataConfluenceUrl"></div>
                                </div>
                                <div class="row" id="dataJenkinsUrlDiv">
                                    <div class="col-xs-8 col-sm-6">
                                        Jenkins:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataJenkinsUrl"></div>
                                </div>
                                <div class="row" id="dataBitbucketUrlDiv">
                                    <div class="col-xs-8 col-sm-6">
                                        Bitbucket project:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataBitbucketUrl"></div>
                                </div>
								<div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        Provisioniong jobs:
                                    </div>
                                    <div class="col-xs-4 col-sm-6" id="dataJobUrls"></div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="resButton" name="result">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

<script type="text/javascript" src="/js/validator.js"></script>
<script type="text/javascript" src="/js/client.js"></script>

</body>
</html>