.page__content,
.page__footer {
  padding: 30px;
}

.page__header {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-lighter-color);

  h3 {
    margin-bottom: 0;
  }
}

.editmode-button {
  margin-right: -12px; // adjust position to synch with form paddings
}

.page__footer {
  border-top: 1px solid var(--primary-lighter-color);
}

mat-form-field,
mat-checkbox {
  display: block;
}

h3 {
  padding-top: 20px;
}
