ODS_IMAGE_TAG=latest

ODS_GIT_REF=master

# Application domain of OpenShift for routes
OPENSHIFT_APPS_BASEDOMAIN=.192.168.56.101.nip.io

# Host DNS of the OpenShift console to create the right links
OPENSHIFT_CONSOLE_HOST=https://192.168.56.101:8443


#########
# Nexus #
#########

# Nexus host without protocol
NEXUS_HOST=nexus-cd.192.168.56.101.nip.io

# Nexus URL exposed by the NEXUS route
NEXUS_URL=https://nexus-cd.192.168.56.101.nip.io

# Username and password for Nexus
NEXUS_USERNAME=developer
NEXUS_PASSWORD=changeme
NEXUS_PASSWORD_B64=changeme
# Nexus (basic) authentication username:password
NEXUS_AUTH=developer:changeme


########
# Jira #
########

# JIRA URL
JIRA_URL=http://192.168.56.31:8080


#########
# Crowd #
#########

# Crowd server URL
CROWD_URL=http://192.168.56.31:8095/crowd


##############
# Confluence #
##############

# confluence url - including protocol
CONFLUENCE_URL=http://192.168.56.31:8090


###################
# BitBucket / Git #
###################

# bitbucket url - inncluding protocol
BITBUCKET_URL=http://192.168.56.31:7990

CD_USER_ID=cd_user


####################
# Provisioning App #
####################

# crowd groups
PROV_APP_CROWD_USER_GROUP=bitbucket-users
PROV_APP_CROWD_ADMIN_GROUP=bitbucket-administrators

# Default package prefix
PROV_APP_PACKAGE_PREFIX=org.opendevstack

# (cookie) domain for atlassian tools - used for crowd
PROV_APP_ATLASSIAN_DOMAIN=192.168.56.31

# Crowd password
PROV_APP_CROWD_PASSWORD=changeme
PROV_APP_JASYPT_PASSWORD=changeme

# Host and credentials for the mailhost
PROV_APP_MAIL_HOST=opendevstack.org
PROV_APP_MAIL_PASSWORD=changeme
PROV_APP_MAIL_USERNAME=provision

# Logging
PROV_APP_LOG_LEVEL_ATLASSIAN_CROWD=INFO
PROV_APP_LOG_LEVEL_OPENDEVSTACK=INFO

# Jenkins pipeline trigger secret (raw)
PROV_APP_PIPELINE_TRIGGER_SECRET=changeme

LOGGING_FILE_PATH=/opt/provision/history/logs

READABLE_OPENDEVSTACK_REPOS=ods-jenkins-shared-library,ods-quickstarters

# Webhook Proxy to which to delegate admin jobs.
# https://<PROV_APP_WEBHOOKPROXY_HOST><OPENSHIFT_APPS_BASEDOMAIN>
PROV_APP_WEBHOOKPROXY_HOST=webhook-proxy-ods
