ODS_IMAGE_TAG=latest

ODS_GIT_REF=production

# Application domain of OpenShift for routes
OPENSHIFT_APPS_BASEDOMAIN=.192.168.56.101.nip.io

# Host DNS of the OpenShift console to create the right links
OPENSHIFT_CONSOLE_HOST=https://192.168.56.101:8443


########
# Jira #
########

# JIRA URL
JIRA_URL=http://192.168.56.31:8080


#########
# Crowd #
#########

# Crowd server URL
CROWD_URL=http://192.168.56.31:8095/crowd


##############
# Confluence #
##############

# confluence url - including protocol
CONFLUENCE_URL=http://192.168.56.31:8090


###################
# BitBucket / Git #
###################

# bitbucket url - inncluding protocol
BITBUCKET_URL=http://192.168.56.31:7990

CD_USER_ID=cd_user


####################
# Provisioning App #
####################

# crowd groups
PROV_APP_CROWD_USER_GROUP=bitbucket-users
PROV_APP_CROWD_ADMIN_GROUP=bitbucket-administrators

# Default package prefix
PROV_APP_PACKAGE_PREFIX=org.opendevstack

# (cookie) domain for atlassian tools - used for crowd
PROV_APP_ATLASSIAN_DOMAIN=192.168.56.31

# Crowd password
PROV_APP_CROWD_PASSWORD=changeme
PROV_APP_JASYPT_PASSWORD=changeme

# Host and credentials for the mailhost
PROV_APP_MAIL_HOST=opendevstack.org
PROV_APP_MAIL_PASSWORD=changeme
PROV_APP_MAIL_USERNAME=provision

# Logging
PROV_APP_LOG_LEVEL_ATLASSIAN_CROWD=INFO
PROV_APP_LOG_LEVEL_OPENDEVSTACK=INFO

# Jenkins pipeline trigger secret (raw)
PROV_APP_PIPELINE_TRIGGER_SECRET=changeme

LOGGING_FILE_PATH=/opt/provision/history/logs
